.container {
  display: grid;
  grid-template-columns: min-content 5fr;
  grid-template-rows: 2fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  ". .";
}

.i2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  ". .";
}

.book_search_form_filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 15px;
  grid-template-areas:
  ". .";
}

.input_book_search {
  margin-bottom: 1rem;
  width: 100%;
}

.div_select {
  width: 100%;
}

.kits_select {
  margin-bottom: 1rem;
  width: 100%;
}

.moodle-dialogue-base .moodle-dialogue-wrap {
  border-radius: 15px;
}

.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd {
  padding: 1rem 1rem;
}

.addbook {
  width: 100%;
  height: 54px;
  border-radius: 15px;
  font-weight: 600
}

.button_book_search {
  width: 100%;
  height: 45px;
}

p {
  margin-bottom: 0.5rem;
}

.custom-input {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #8f959e;
  border-radius: 0.5rem;
  appearance: none;
}

/* .active {
box-shadow: 0 0 0 3px var(--primary);
} */
label.radio-card {
  cursor: pointer;
  width: 100%;
}
label.radio-card .card-content-wrapper {
  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
  transition: 200ms linear;
  position: relative;
  min-width: 170px;
}
label.radio-card .check-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  transition: 200ms linear;
  position: absolute;
  right: 10px;
  top: 10px;
}
label.radio-card .check-icon:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center center;
  transform: scale(1.6);
  transition: 200ms linear;
  opacity: 0;
}
label.radio-card input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}
label.radio-card input[type=radio]:checked + .card-content-wrapper {
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px var(--primary);
}
label.radio-card input[type=radio]:checked + .card-content-wrapper .check-icon {
  background: var(--primary);
  border-color: var(--primary);
  transform: scale(1.2);
}
label.radio-card input[type=radio]:checked + .card-content-wrapper .check-icon:before {
  transform: scale(1);
  opacity: 1;
}
label.radio-card input[type=radio]:focus + .card-content-wrapper .check-icon {
  box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);
  border-color: var(--primary);
}
label.radio-card .card-content img {
  
  margin-right: 15px;
  height:90px;
  border-radius:10px
}
.metadata{
  margin-right:25px
}
.title{
  font-size:16px;
  font-weight:600;
  margin-bottom:0.5rem;
  text-align: left;
}
.authors{
  /* font-size:16px; */
  /* font-weight:600; */
  /* margin-bottom:0.5rem; */
  text-align: left;
  font-style: italic;
}
.doc_name{
  font-size:14px;
  font-weight:400;
  /* margin-bottom:0.5rem; */
  text-align: left;
}
.titleH1{
  font-size:26px;
  font-weight:700;
  margin-bottom:0.5rem;
  text-align: left;
}
.titleH2{
  font-size:18px;
  font-weight:600;
  margin-bottom:1rem;
  text-align: left;
}
.card-content{
  display: flex;
}
.card-content-detail-wrapper {
  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
  transition: 200ms linear;
  position: relative;
  min-width: 170px;
}
.card-props {
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
}
.main-props{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.ng-star-inserted{
  width: 44%;
  font-weight: 500;
  color: #a1a5b9;
  overflow: hidden
}
.props-list dl.main-props dd.ng-star-inserted{
  text-align: end;
}
.props-list{
  flex:2;
}
.props-list dl.main-props>* {
  border-bottom: 1px solid #e3e5e4;
  padding-bottom: .7142857143rem;
  margin-bottom: .7142857143rem
}
.card-props .cover{
  
  display: inline-block;
  
}  
.card-props .cover img{
  height: 200px;
  border-radius:10px;
  margin-right: 20px;
}
.annotation{
  flex:3;
}
.read_button{
  width: 100%;
}
.annotation_title{
  font-size: 16px;
  font-weight: 700;
}
.annotation p{
  font-size: 14px;
}
.read_button a{
  width: 100%;
}
.table_rez{
  
  .table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
  }
  .table thead th {
    font-weight: bold;
    text-align: left;
    /* border: none; */
    border: 1px solid #ddd;
    padding: 10px 15px;
    background: #EDEDED;
    font-size: 14px;
    border-top:   1px solid #ddd;;
  }
  .table tr th:first-child, .table tr td:first-child {
    border-left: 1px solid #ddd;
  }
  .table tr th:last-child, .table tr td:last-child {
    border-right: 1px solid #ddd;
  }
  .table thead tr th:first-child {
    border-radius: 15px 0 0 0;
  }
  .table thead tr th:last-child {
    border-radius: 0 15px 0 0;
  }
  .table tbody td {
    text-align: left;
    /* border: none; */
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
  }
  .table tbody tr:nth-child(even) {
    background: #F8F8F8;
  }
  .table tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 15px;
  }
  .table tbody tr:last-child td:last-child {
    border-radius: 0 0 15px 0;
  }
}






